<div class="plan-block container">
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Nền tảng</h3>
        <span class="plan__price">$8</span>
        <span class="plan__billing-cycle">/class</span>
        <span class="badge badge--secondary badge--small">10% OFF</span>
        <span class="plan__description">Dành cho học sinh mất gốc</span>
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Nắm chắc kiến thức học trên lớp</li>
          <li class="list__item">Ôn thi học kỳ, vào THCS, THPT, ĐH</li>
          <li class="list__item">
            Nguồn truy cập không giới hạn tới ngân hàng đề thi
          </li>
          <li class="list__item">Dạy lại từ đầu kiến thức gốc</li>
        </ul>
        <button class="btn btn--outline btn--block">Đăng ký ngay</button>
      </div>
    </div>
  </div>
  <div class="plan plan--popular">
    <div class="card card--primary">
      <header class="card__header">
        <h3 class="plan__name">Phổ thông</h3>
        <span class="plan__price">$7</span>
        <span class="plan__billing-cycle">/class</span>
        <span class="badge badge--primary badge--small">10% OFF</span>
        <span class="plan__description"
          >Nắm chắc kiến thức và đạt điểm cao trong các kỳ thi</span
        >
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Nắm chắc kiến thức học trên lớp</li>
          <li class="list__item">Ôn thi học kỳ, vào THCS, THPT, ĐH</li>
          <li class="list__item">
            Nguồn truy cập không giới hạn tới ngân hàng đề thi
          </li>
          <li class="list__item">Tư vấn chọn khối, ngành học, ĐH</li>
        </ul>
        <button class="btn btn--outline btn--block">Đăng ký ngay</button>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Nâng cao</h3>
        <span class="plan__price">$10</span>
        <span class="plan__billing-cycle">/class</span>
        <span class="badge badge--secondary badge--small">10% OFF</span>
        <span class="plan__description"
          >Tiếng Anh giao tiếp và các chứng chỉ quốc tế</span
        >
      </header>
      <div class="card__body">
        <ul class="list list--tick">
          <li class="list__item">Nắm chắc kiến thức học trên lớp</li>
          <li class="list__item">Ôn thi học kỳ, vào THCS, THPT, ĐH</li>
          <li class="list__item">
            Nguồn truy cập không giới hạn tới ngân hàng đề thi
          </li>
          <li class="list__item">
            Học và thi thử các chứng chỉ cùng giáo viên nước ngoài
          </li>
        </ul>
        <button class="btn btn--outline btn--block">Đăng ký ngay</button>
      </div>
    </div>
  </div>
</div>
