<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quibusdam
    magni quam laboriosam sequi, hic earum perspiciatis architecto eveniet
    temporibus amet quasi corrupti iste, delectus atque eos commodi qui quisquam
    totam est tenetur dolorum quaerat at vero? Reiciendis labore molestiae et
    dolores quia cupiditate aut voluptate, sapiente quibusdam ut earum.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="quote__company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
